@import 'tailwindcss';
@import './root.css';

@theme inline {
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1440px;

    --color-bg: var(--color-bg);
    --color-bg-secondary: var(--color-bg-secondary);
    --color-bg-tertiary: var(--color-bg-tertiary);

    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);
    --color-text-placeholder: var(--color-text-placeholder);
    --color-text-disabled: var(--color-text-disabled);

    --color-border: var(--color-border);
    --color-border-secondary: var(--color-border-secondary);

    --color-accent: var(--color-accent);
    --color-accent-hover: var(--color-accent-hover);
    --color-accent-subtle: var(--color-accent-subtle);

    --color-error: var(--color-error);
    --color-error-subtle: var(--color-error-subtle);
    --color-warning: var(--color-warning);
    --color-warning-subtle: var(--color-warning-subtle);
    --color-success: var(--color-success);
    --color-success-subtle: var(--color-success-subtle);
}

@utility container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;

    @media (width >= theme(--breakpoint-md)) {
        max-width: 720px;
        padding-inline: 32px;
    }

    @media (width >= theme(--breakpoint-lg)) {
        max-width: 960px;
    }

    @media (width >= theme(--breakpoint-xl)) {
        max-width: 1140px;
    }

    @media (width >= theme(--breakpoint-2xl)) {
        max-width: 1320px;
    }
}

body,
html {
    @apply h-full [scrollbar-gutter:stable];
}

.scroll-lock {
    scrollbar-gutter: auto;
}
